body {
  font: 16px "Comic Sans MS", cursive;
  background: url("Blue-rule.png");
  }

p {
  color: blue;
  }

p:before {
  content: url("Yellow-pin.png");
  }

#first {
  font-style: italic;
  }

strong {
  background-color: #ddf;
  color: red;
  font: 200% serif;
  }

.spinach {
  color: green;
  background-color: #ddf;
  }



